<!DOCTYPE html>
{{- $lang := or site.Language.Locale site.Language.LanguageCode site.Language.Lang }}
{{- $dir := or site.Language.Direction "ltr" }}
<html lang="{{ $lang }}" dir="{{ $dir }}">
<head>
    {{ partial "head.html" . }}
    {{- if eq (lower site.Params.analytics.append) "head" -}}
        {{ partialCached "analytics.html" . }}
    {{- end }}
    {{ block "head" . }}{{ end }}
</head>
{{- if not (or .Params.headless .Params.target .Params.alias) }}
<body>
    <header>
        {{ partial "header.html" . }}
    </header>
    <main id="{{ .Kind }}">
        {{ block "main" . }}{{ end }}
    </main>
    <footer>
        {{ partial "footer.html" . }}
    </footer>
    {{- if site.Params.EnableAppearance }}
        {{ partialCached "a11y.html" . }}
    {{- end }}
    {{- if eq (lower site.Params.analytics.append) "body" -}}
        {{ partialCached "analytics.html" . }}
    {{- end }}
    
    {{ partial "cursor.html" . }}
</body>
{{- end }}
</html>
